body {
  margin: 0;
  padding: 0;
  background-color: gray;
}

#wrap {
  margin: 0 auto;
}

#ad {
  width: 100%;
  height: 80px;
  background-color: #df7b87;
}

.cgv_logo {
  width: 180px;
  height: 80px;
  background-image: url('image/cgv.png');
  background-repeat: no-repeat;
  position: relative;
  left: 50%;
  top:20px;
  margin-left: -490px;
}

.cult{
  width: 584px;
  height: 77px;
  background-image: url('image/cult.png');
  background-repeat: no-repeat;
  position: relative;
  left: 50%;
  top:-52px;
  margin-left: -70px;
}

.wall {
  width: 100%;
  height: 446px;
  background-image: url('image/wall.jpg');
  background-repeat: repeat;
}

.ad_img {
  width: 980px;
  height: 80px;
  background-image: url('image/ad.jpg');
  background-repeat: no-repeat;
  position: relative;
  left: 50%;
  margin-left: -465px;
}

#top {
  width: 100%;
  height: 30px;
  background-color: #fdfcf0;
}

.num {
  width: 100%;
  height: 120px;
  background-image: url('image/top_1.jpg');
  background-repeat: repeat;
}
