body {
  margin: 0;
  padding: 0;
  background-color:  #fdfcf0;

}

/*
 * Nanum Gothic (Korean) http://www.google.com/fonts/earlyaccess
 */
@charset "utf-8";
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: normal;
  src: url(./NanumGothic-Regular.eot);
  src: url(./NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(./NanumGothic-Regular.woff2) format('woff2'),
       url(./NanumGothic-Regular.woff) format('woff'),
       /*url(./NanumGothic-Regular.ttf) format('truetype');*/
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: bold;
  src: url(./NanumGothic-Bold.eot);
  src: url(./NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(./NanumGothic-Bold.woff2) format('woff2'),
       url(./NanumGothic-Bold.woff) format('woff'),
       /*url(./NanumGothic-Bold.ttf) format('truetype');*/
}


body, table, div, p {font-family:'Nanum Gothic';}

hr{

}

#wrap {
  margin:0 auto;
}

#ad {
  width: 100%;
  height: 80px;
  background-color: #df7b87;

}

.cgv_logo {
  width: 180px;
  height: 80px;
  background-image: url('image/cgv.png');
  background-repeat: no-repeat;
  position: relative;
  left: 50%;
  top:31px;
  margin-left: -470px;
}

.cult{
  width: 584px;
  height: 77px;
  background-image: url('image/cult.png');
  background-repeat: no-repeat;
  position: relative;
  left: 50%;
  top:-52px;
  margin-left: -70px;
}

.wall {
  width: 100%;
  height: 446px;
  background-image: url('image/wall.jpg');
  background-repeat: repeat;
}

.ad_img {
  width: 980px;
  height: 80px;
  background-image: url('image/ad.jpg');
  background-repeat: no-repeat;
  position: relative;
  left: 50%;
  margin-left: -465px;
  z-index: 400;
}

#top {
  width: 100%;
  height: 30px;
  background-color: #fdfcf0;
}
#top2 {

  width: 100%;
  height: 60px;
  background-color: #fdfcf0;
}

.fixed{
    width: 110px;
    height: 580px;
    background-color: #fdfcf0;
    position: fixed;
    z-index: 400000000000;
    left:50%;
    top:205px;
    margin-left: 490px;
    border-radius: 15px;
    border: 8px solid red;
}

#top2>img{
  width: 54px;
  height: 50px;
  padding: 0;

  position:relative;
  left: 50%;
  margin-left:   -605px;
  top:-57px;
}
 .message{
   width:700px;
   height: 60px;
color:rgb(111, 111, 111);
     font-size: 1.5em;
     font-family: 'Nanum Gothic';
     position: relative;
     left:50%;
     text-align: left;
margin-left: -240px;
     font-weight: bold;
     top: 12px;
 }
.f_1{
    width: 100px;
    height: 83px;
    margin-left: 6px;
    margin-top: 10px;
    border-bottom: 3px double pink;
}

.f_1 img{
   margin-left: 5px;

}

.f_2 img{
   margin-left: -3px;
   margin-top: 9px;
}

.menu_1{
  width: 442px;
 height: 30px;

 position: relative;
 left: 50%;
 margin-left: -460px;
 float: left;
 font-size: 0.7em;


}
.n1{width: 85px;
  height: 30px;
  border-right:2px solid rgb(144, 144, 144);
  float: left;
border-left:2px solid rgb(144, 144, 144);
}
.n1 p{
  font-family: Helvetica;
  font-weight: 600;
  position:relative;
  top:-7px;
}
.n1 img{
   float: left;
   margin-top: 5px;
   margin-left: 7px;
}
.n1t{
   float: left;
   margin-top: 5px;
   margin-left: 3px;
   color: gray;
}

.n2{width: 59px;
  height: 30px;
  border-right:2px solid gray;
  float: left;
}
.n2 p{
  font-family: Helvetica;
  font-weight: 600;
  position:relative;
  top:-7px;
}
.n2 img{
   float: left;
   margin-top: 5px;
   margin-left: 7px;
}
.n2t{
   float: left;
   margin-top: 5px;
   margin-left: 3px;
   color: gray;
}

.n3{width: 71px;
  height: 30px;
  border-right:2px solid gray;
  float: left;
}

.n3 p{
  font-family: Helvetica;
  font-weight: 600;
  position:relative;
  top:-7px;
}
.n3 img{
   float: left;
   margin-top: 5px;
   margin-left: 7px;
}
.n3t{
   float: left;
   margin-top: 5px;
   margin-left: 3px;
   color: gray;
}

.n4{width: 97px;
  height: 30px;
  border-right:2px solid gray;
  float: left;
}

.main{
  float: left;
  font-family: 'Nanum Gothic';
  font-size: 1.6em;
  font-weight: 900;
  position: relative;
  left: 50%;
  margin-left: -180px;
  top:-98px;
  letter-spacing: -0.1em;
}
.main div{
  float: left;
  margin-right: 55px;
}

.m_1{


}
.m_2{


}
.m_3{


}
.m_4{


}

.n4 p{
  font-family: 'Nanum Gothic';
  font-weight: 600;
  position:relative;
  top:-8px;
  font-weight: bold;
}
.n4 img{
   float: left;
   margin-top: 2px;
   margin-left: 3px;
}
.n4t{
   float: left;
   margin-top: 5px;
   margin-left: 3px;
   color: gray;
}

.num {
  width: 100%;
  height: 120px;
  background-image: url('image/top_1.jpg');
  background-repeat: repeat;
}

.section{
  width: 100%;
  height: 880px;

  background-color: #fdfcf0;
  margin: 0;
  margin-top: 14px;

}

.line{
   width: 920px;
   height: 2px;
   position: relative;
   left: 50%;

  top:20px;
  margin-left: -460px;
  z-index: 2;
}

.movie_img{
  z-index: 999;
   width: 406px;
   height: 41px;
   background-image: url('image/movie.gif');
   background-repeat: no-repeat;
   position: absolute;
   left: 50%;
   margin-top:3px;
   margin-left: -203px;
}
.video_s{
  width: 400px;
  height:220px;
  background-color: gray;
  position: relative;
  left: 50%;
  top:50px;
  margin-left: -459px;
  z-index: 20;

}

.box{
   width: 920px;
   height: 446px;
   position: relative;
   left: 50%;
   top:-12px;
   margin-left: -460px;
}

.right{z-index: 50;
  width: 500px;
  height: 595px;
  background-image: url('image/right.jpg');
  background-repeat: no-repeat;
position: relative;
left:679px;
top:-390px;


}

.line2{
   width: 920px;
   height: 2px;
   position: relative;
   left: 50%;

  top:-580px;
  margin-left: -202px;
  z-index: 2;
}

.movie_img2{
  z-index: 999;
   width: 142px;
   height: 41px;
   background-image: url('image/event.gif');
   background-repeat: no-repeat;
   position: absolute;
   left: 50%;
   margin-top:-585px;
   margin-left: 198px;
}
.po{
  width: 541px;
  height: 39px;
  background-image: url('image/po.png');
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top:450px;
}

.select_1 {
  width: 128px;
  height: 39px;

  position: absolute;

  left: 50%;
  margin-left: 20px;
  top:450px;
  cursor: pointer;
}
.select_2 {
  width: 88px;
  height: 39px;

  position: absolute;

  left: 50%;
  margin-left: 150px;
  top:450px;
  cursor: pointer;
}
.select_3 {
  width: 124px;
  height: 39px;
  b
  position: absolute;

  left: 50%;
  margin-left: 240px;
  top:450px;
  cursor: pointer;
}

.select_4 {
  width: 85px;
  height: 39px;

  position: absolute;

  left: 50%;
  margin-left: 366px;
  top:450px;
  cursor: pointer;
}

.select_5 {
  width: 66px;
  height: 39px;

  position: absolute;

  left: 50%;
  margin-left: 453px;
  top:450px;
  cursor: pointer;
}

.naver1{
  width: 925px;
  height: 187px;

  position: absolute;

  left: 50%;
  margin-left: -202px;
  top:504px;



}

.naver2{
  width: 224px;
  height: 187px;
  background-color: red;
  z-index: 999;float: left;
  margin-right: 7px;
cursor: pointer;
}

.line4{
  clear: both;
   width: 920px;
   height: 3px;
   background-color: black;
   position: relative;
   left: 50%;
  top:-301px;
  margin-left: -202px;

}

.bottem_m{
  width: 919px;
  height: 297px;


  position: relative;
  left: 50%;
 top:-271px;
 margin-left: -202px;
}

.bottem1{
  width: 220px;
  height: 290px;
  border: 2px solid black;
  background-color: #fdfcf0;
  z-index: 999;
  float: left;
  margin-top: 0;
  margin-right: 7px;
cursor: pointer;
}
.bottem2{
  width: 450px;
  height: 290px;
  border: 2px solid black;

  background-color: #fdfcf0;

  z-index: 999;
  float: left;

  margin-right: 7px;
cursor: pointer;
}

.bottem3{
  width: 223px;
  height: 290px;
  border: 2px solid black;

  background-color: #fdfcf0;
  z-index: 999;
  float: left;
cursor: pointer;
}

.b_1{
  width: 214px;
  height: 284px;
  border: 1px solid black;
  margin: 2px;
  background-image: url('image/11_1.jpg');
  background-repeat: no-repeat;
  z-index: 1000;
}

.b_2{
  width: 444px;
  height: 284px;
  border: 1px solid black;
  margin: 2px;
  background-image: url('image/11_2.jpg');
  background-repeat: no-repeat;
  z-index: 1000;
}


.b_3{
  width: 217px;
  height: 284px;
  border: 1px solid black;
  margin: 2px;
  background-image: url('image/11_3.jpg');
  background-repeat: no-repeat;
  z-index: 1000;
}
.malbo{
  width: 919px;
  height: 37px;

  border-bottom:  1px solid black;
  position: relative;
  left: 50%;
 top:-271px;
 margin-left: -202px;
}
.mal{

  width: 30px;
  height: 30px;
  margin: 0px;

  background-image: url('image/mal.png');
  background-repeat: no-repeat;
  z-index: 1000;float: left;
}
.gong{
  width: 250px;
  height: 30px;
font-size: 1em;
font-weight: bold;
  margin-top:  3px;
  margin-left: 2px;

  float: left;
}

.m{
  width:100%;
  height:220px;
  background-color: #fff4d4;
  position: relative;
  top:977px;
}

.gong2{
  width: 960px;
  height: 57px;
  background-image: url('image/2222.jpg');
  background-repeat: no-repeat;


  position: relative;
  left: 50%;
  top:9px;
  margin-left: -460px;
  z-index: 514214414;
}
.gong2 img{
  width: 960px;
}
.gong3{
  width: 1000px;
  height: 257px;
  background-image: url('image/40.png');
  background-repeat: no-repeat;
position: absolute;
left: 50%;
margin-left: -490px;
top:1900px;

    z-index: 314214414;
  }

  .t{
    width: 100%;
    height: 60px;

    border-top: 1px solid black;
    border-bottom: 1px solid black;
    z-index: 514214414;
    position: relative;
    top:977px;
  }

.bwall{
  width: 100%;
  height: 118px;

position: relative;
top: 739px;
  background-image: url('image/bwall.jpg');
  background-repeat: repeat;

}

.sora_div{
   width: 1800px;
   height: 60px;
   border: 1px solid blue;
   z-index: 1542515252525155;
   position:relative;
   top: -250px;

   left:400px;
}
.sora{width: 1800px;
position: relative;
top: 380px;
left: -285px;
}
.sora li{margin: 0px;
border-right: 1px solid gray;
padding-right:7px;;
padding-left: 7px;
    float: left;
    z-index: 50000000000000000;
font-weight: bold;
letter-spacing: -0.1em;
list-style: none;
color: gray;
font-size: 0.8em;
}

.cgv_2{
    width: 133px;
    height: 90px;
    background-image: url('image/123.png');
    background-repeat: no-repeat;
    position: relative;
    top:420px;
    left:5px;

}

.footer{
  width: 900px;
  height: 130px;
  position: relative;

  top:325px;
  left:110px;
}

.sns{
  width: 100px;
  height: 30px;
  position: relative;


  top:180px;
  left:649px;
}

.search{
    width: 150px;
    height: 30px;

    border:2px solid gray;
    position: relative;
    top:149px;
    left:755px;
    text-align: left;
float: left;
text-align: center;

}
.search p{
  margin-top: 3px;
}
.go{
  text-align: center;
  width: 30px;
  height: 30px;
color: white;
background-color: gray;
  border:2px solid gray;
  position: relative;
  top:149px;
  left:758px;
  text-align: left;
  float: left;
}

.footer p{
  line-height: 0.3em;
  letter-spacing: 0.1px;
  font-size: 0.7em;
}

.log{


  height: 10px;
  margin-top: 5px;

  float: left;
  position: relative;
  left: 50%;
  margin-left: 53px;
  top:5px;
  font-size: 0.7em;
  font-weight: bold;
  letter-spacing: -0em;
}

.u{
  float: left;

margin-left: 4px;
margin-right: 1px;
border-right: 2px solid rgb(144, 144, 144);
}

.inout{

font-family: 'Nanum Gothic';
font-size: 1.0em;
  width: 40px;
  height: 13px;
  font-weight: 900;

}

.inout p{
  position: relative;
  top:-13px;
}
.myc{
font-family: Helvetica;

  width:48px;
  height: 13px;
  font-weight: 600;
}

.vip{
  font-family: Helvetica;
  font-weight: 600;
    width: 6.7em;
height: 13px;
}
.club p{
  position: relative;
  top:-13px;
}
.club{
   width: 62px;
   font-family: Helvetica;
   font-weight: 600;height: 13px;
}
.center p{
  position: relative;
  top:-13px;
}
.center{
   width:50px;
   font-family: 'Nanum Gothic';
   font-weight: 600;height: 13px;
}

.eng{
   width: 116px;
   font-family: Helvetica;
   font-weight: 600;
   height: 13px;
}
.eng p{
  position: relative;
  top:-14px;
  letter-spacing: -0.09em;
  font-size: 1.1em;
  color: orange;
}
